html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
.header{
  background-color: #333;
}
.box {
  width: 100%;
  height: 100%;
  border: 10px solid red;
  padding: 50px;
}
#box-header{
  width: 100%;
  height: 225px;
  padding: 0;
}
.flex-container{
  display: flex;
  flex-direction: column;
}
#logo{
  width: 38%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#logo-img{
margin: 50px;
}
#company-name{
  margin: 50px 50px 50px 0;
  padding: 50px 50px 50px 0;
  color: GhostWhite;

}
#company-name h2{
  font-size: 7vw;
}
.intro-box {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: white;
}
#slogan{
  width: 80%;
  height: 100%;
  padding: 50px;
  margin: 150px auto 60px auto;
  padding: 10px;
  color: white;
  font-size: 8vw;
  text-align: center;
  font-weight: bold;
}
.filler{
  width: 80%;
  height: 100%;
  padding: 50px;
  margin: auto;
  padding: 10px;
  color: Gainsboro;
  font-size: 4.5vw;
  text-align: center;
}
.intro-button{
  width: 80%;
  height: 100%;
  border-radius: 15px;
  border: 10px solid limegreen;
  background-color: limegreen;
  font-weight: bolder;
  padding: 50px;
  font-size: 5vw;
  text-align: center;
  margin: 100px auto 100px auto;
}
.advertise-box{
  width: 100%;
  height: 100%;
  padding: 400px 0 200px 0;
  background-color: ivory;
}
.ad-slogan{
  width: 100%;
  height: 100%;
  padding: 50px;
}
.ad-slogan h2{
  font-size: 8vw;
  text-align: left;
  font-weight: bolder;
}
.ad-box1{
  width: 90%;
  height: 100%;
  padding: 50px 0 50px 0;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.ad-box2{
  width: 90%;
  height: 100%;
  padding: 50px 0 50px 0;
  display: flex;
  margin: auto;
  flex-direction: row;
}
#sect1{

}

#sect2 h2{
font-size: 6vw;
font-weight: bold;
}
#sect2 p{
font-size: 4vw;
color: lightslategray;
}
.ad-pic{
  width: 150px;
  height: 150px;
  margin: 0 50px 0 50px;
}
.form{
  width: 100%;
  height: 100%;
  padding: 50px;
}
.form-box{
  width: 100%;
  height: 100%;
}
.header-form img{
  width: 100%;
  height: 100%;
}
.form-text{
  width: 75%;
  height: 200px;
  margin: 50px auto 50px auto;
}
.form-text label{
  font-size: 4vw;
  font-weight: bold;
}
.form-text input{
  width: 100%;
  height: 100px;
}
.submit{
  width: 80%;
  height: 100%;
  color: white;
  margin: 50px auto 50px auto;
  border: 10px solid limegreen;
  background-color: limegreen;
  font-weight: bolder;
  padding: 50px;
  font-size: 5vw;
  text-align: center;
}
.show-case{
  width: 100%;
  height: 100%;
  padding: 20px;
}
.intro-show{
  width: 80%;
  height: 100%;
  margin: 50px auto 50px auto;
  text-align: center;
}
.intro-show h2{
  font-size: 6vw;
  font-weight: bolder;
  font-stretch: semi-expanded;
}
.intro-show p{
  font-size: 4vw;
}
.display{
  width: 80%;
  height: 100%;
  border: 10px solid blue;
  padding: 50px;
  margin: 50px auto 50px auto;
}
.loading-dots{
  width: 80%;
  height: 100%;
  border: 10px solid blue;
  padding: 50px;
  margin: 50px auto 50px auto;
}
#home-img{
  width: 100%;
  height: 100%;
  border: 10px solid purple;
  padding: 50px;
}
#info{
  width: 100%;
  height: 100%;
  border: 10px solid orange;
  padding: 50px;
}
.vid{
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: whitesmoke;
}
.intro-text h2{
font-size: 7vw;
font-weight: bolder;
text-align: center;
margin: 200px 0 50px 0;
}
.intro-text p{
font-size: 4vw;
text-align: center;
margin: 50px 0 100px 0;
}
.video{
  width: 80%;
  height: 500px;
  margin: 150px auto 50px auto;
}
.video iframe{
  width: 100%;
  height: 100%;
}
